<% include ../partials/boilerplate %>

  <div class="workoutgoal-container">
    <div class="add">
      <form action="/workout" method="POST">
        <input type="text" name="category" placeholder="Category" />
        <input type="text" name="description" placeholder="Description" />
        <input type="number" name="level" placeholder="Level" />
        <input type="date" name="date_entry" placeholder="Date" />
        <input type="submit" value="Add workout" />
      </form>
    </div>
    <a href="/workout">Back to workouts</a>
  </div>

<% include ../partials/end %>
