<% include ../partials/boilerplate %>

<div class="showworkoutgoal">
<h1>Goal: </h1>
  <div class="goal">
    <h2 class="name"><%= goal.name %></h2>
      <p><%= goal.description %></p>
  </div>
  <div class="showoptions">
      <a class="edit-button" href="/goal/<%=goal.id%>/edit">Edit</a>
      <a class="delete-button" href="/goal/<%= goal.id%>/delete">Delete</a>
  </div>
<a class="link" href="/goal">Back to Goals</a>
</div>

<% include ../partials/end %>
