body {
  display: flex;
  box-sizing: border-box;
  background-color: rgba(11, 8, 10, 0.71);
  width: 100vw;
  height: 100vh;
  font-family: 'Muli', sans-serif;
}

.landing, .login-container, .single-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.homeoptions {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}

.firstoption {
  margin: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  padding: 20px;
  font-family: 'Muli', sans-serif;
  display: flex;
  margin: 20px;
  background-color: rgba(11, 8, 10, 0.3);
}

.landing h1, .login-container h1 {
  font-size: 150px;
  color: white;
  font-family: 'Muli', sans-serif;
  display: flex;
}

header {
  border-bottom: 2px solid white;
  width: 100vw;
  position: fixed;
  padding: 10px;
}

header nav ul {
  color: white;
  font-family: 'Muli', sans-serif;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  justify-content: center;
}

header nav ul li a {
  color: white;
  text-decoration: white;
  font-size: 40px;
  font-family: 'Muli', sans-serif;
  justify-content: space-around;
  margin: 0 50px;
  text-transform: uppercase;
  text-shadow: 5px 5px 10px black;
}

header a:hover{
  background-color: rgba(11, 8, 10, 0.1);
  cursor: pointer;
  font-size: 45px;
}

.firstoption:hover{
  background-color: rgba(11, 8, 10, 0.1);
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

.login-container input {
  margin: 5px;
  text-transform: uppercase;
  padding: 10px 30px;
  font-family: 'Muli', sans-serif;
  background-color: rgba(11, 8, 10, 0.3);
  color: white;
  font-weight: bold;
  justify-content: center;
}

.add-button {
  flex-direction: column;
  justify-content: center;
  margin-top: 200px;
}

.add-button a {
  color: white;
  text-decoration: none;
  font-family: 'Muli', sans-serif;
}

.workoutgoal-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  margin: 200px auto 0px auto;
  width: 100vw;
  height: 80vh;
}

.workoutandgoal {
  display: flex;
  justify-content: space-between;
}

.workouthome {
  margin: auto;
}

.goalhome {
  margin: auto;
}


.workouthome, .goalhome {
  color: rgba(11, 8, 10, 0.71);
  background-color: #EFE8D8;
  font-weight: bold;
  width: 30vw;
  font-size: 20px;
  text-shadow: 1px 1px 3px #3C485E;
  border-radius: 5%;
  box-shadow: 6px 6px 2px #EFE8D8;
}

.add-buttonhome {
  flex-direction: column;
  justify-content: center;
}

.add-buttonhome a {
  color: rgba(11, 8, 10, 0.71);
  text-decoration: none;
  font-family: 'Muli', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
}

.add-buttonhome a:hover {
  font-size: 30px;
}

.workoutgoal-container h2 {
  color: rgba(11, 8, 10, 0.71);
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 15px;
  text-align: center;
  text-shadow: 2px 2px 5px #3C485E;
}

.workoutgoal-container h1 {
  font-size: 100px;
  color: white;
  font-family: 'Muli', sans-serif;
  display: flex;
  text-shadow: 5px 5px 10px black;
  justify-content: center;
}
